/* Reset and Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header .menu-icon,
.header .close-icon {
    display: none;
}

body {
    height: 100%;
    background-color: #f7f4f4;
    font-family: 'League Spartan', sans-serif;
}

a {
    text-decoration: none;
}

/* Header & Footer */
.header, .footer {
    min-height: 10vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Silkscreen', cursive;
}

.footer-icons {
    font-size: 2em;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 2%;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links ul li a {
    color: brown;
    font-size: x-large;
    position: relative;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 3px;
    background: #db20079f;
    display: block;
    margin: auto;
    transition: width 0.5s;
}

.nav-links ul li:hover::after {
    width: 90%;
}

/* Utility Classes */
.centered-content {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

/* Buttons */
.btn {
    display: inline-block;
    color: chocolate;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(223, 174, 129, 0.5);
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    /* Show menu and close icons on mobile */
    /* .header .menu-icon {
        display: block;
        font-size: 1.5em;
        color: brown;
        cursor: pointer;
    }

    .header .close-icon {
        display: block;
        font-size: 1.5em;
        color: brown;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    /* Sidebar Navigation for Mobile */
    /* .nav-links {
        display: none; 
        position: fixed;
        top: 0;
        right: -200px; 
        width: 200px;
        height: 100vh;
        background: #d69b94;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease;
    }  */
}
